@{
    ViewBag.Title = "«SILVER» - Ковромир";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links {
    <link rel="stylesheet" type="text/css" href="~/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/user/css/product_style.css">
    <script src="~/user/js/script.js"></script>
}

<figure>
    <div class="slideshow-container">
        <div class="slide first">
            <img class="slide-img" src="~/user/img/c4.jpg">
        </div>
        <div class="slide">
            <img class="slide-img" src="~/user/img/c5.jpg">
        </div>
        <div class="slide">
            <img class="slide-img" src="~/user/img/c6.jpg">
        </div>
        <a class="prev" onclick="difSlide(-1)">❮</a>
        <a class="next" onclick="difSlide(1)">❯</a>
    </div>
    <br>
    <div class="slideshow-dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</figure>
<section>
    <h1>Ковер «SILVER» S828A-LGRAY (артикул 59196)</h1>
    <h2>Описание ковра «SILVER»</h2>
    <p>
        Изящные ковры SILVER визуально обогатят ваш интерьер.
        Эта коллекция создана для тех, кто любит эстетичный натуральный декор и отдаёт предпочтение сдержанной
        роскоши. Среди дизайнов холодный мрамор и винтаж. И тот, и другой на пике актуальности. Профессиональные
        дизайнеры часто дополняют интерьеры этими узорами, чтобы создать ощущение роскошной обстановки в доме.
        Коллекция выполнена в чистых пастельных оттенках, благодаря чему смотрится ненавязчиво и легко. Такой
        дизайн идеально подходит, чтобы визуально освежить интерьер.
        А плотный ворс из полиэстера делает ковры SILVER практичными, отлично приспособленными для нужд
        современного дома: изделия не мнутся, не протираются и легко чистятся.
    </p>
    <h2>Характеристики ковра «SILVER»</h2>
    <div class="row">
        <div class="col-sm">
            <table>
                <tbody>
                    <tr>
                        <td class="t-h">Страна производства</td>
                        <td>Турция</td>
                    </tr>
                    <tr>
                        <td class="t-h">Способ производства</td>
                        <td>Машинная работа</td>
                    </tr>
                    <tr>
                        <td class="t-h">Материал</td>
                        <td>Синтетика</td>
                    </tr>
                    <tr>
                        <td class="t-h">Высота ворса</td>
                        <td>5 мм</td>
                    </tr>
                    <tr>
                        <td class="t-h">Плотность</td>
                        <td>620 000 узлов/м2</td>
                    </tr>
                    <tr>
                        <td class="t-h">Форма</td>
                        <td>Прямоугольник</td>
                    </tr>
                    <tr>
                        <td class="t-h">Узор</td>
                        <td>Абстрактный</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table>
                <tbody>
                    <tr>
                        <td class="t-h">Стиль</td>
                        <td>Современные ковры</td>
                    </tr>
                    <tr>
                        <td class="t-h">Коллекция</td>
                        <td>SILVER</td>
                    </tr>
                    <tr>
                        <td class="t-h">Наименование</td>
                        <td>S828A-LGRAY</td>
                    </tr>
                    <tr>
                        <td class="t-h">Артикул</td>
                        <td>59196</td>
                    </tr>
                    <tr>
                        <td class="t-h">Количество цветов</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td class="t-h">Количество фактур</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="t-h">Цвет</td>
                        <td>Серый</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h2>Доступные размеры ковра «SILVER»</h2>
        <div class="row">
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">1,2 x 1,7 м</li>
                    <li>10 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">1,6 x 2,3 м</li>
                    <li>19 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">1,6 x 3,0 м</li>
                    <li>25 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">2,0 x 2,9 м</li>
                    <li>35 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>

            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">2,4 x 3,0 м</li>
                    <li>45 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">2,4 x 3,4 м</li>
                    <li>49 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
            <div class="col-md-auto">
                <ul class="price">
                    <li class="header">3,0 x 4,0 м</li>
                    <li>69 900 руб.</li>
                    <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/user/js/shared.js"></script>
}