@{
    ViewBag.Title = "Как подобрать идеальный ковёр: 5 главных советов - Ковромир";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/user/css/article_style.css">
}

<h1>Как подобрать идеальный ковёр: 5 главных советов</h1>
<p class="note">
    Хотите купить ковёр домой, но не знаете, как выбрать подходящий? Мы собрали 5 базовых советов –
    они помогут
    избежать ошибок и найти ковёр, который «встроится» в интерьер безупречно.
</p>
<div class="row">
    <div class="col-md-auto">
        <img src="~/user/img/article1.jpg">
    </div>
    <div class="col">
        <h2>1. Берите размер побольше</h2>
        <p>
            Если выбор стоит между маленьким и большим ковром, выбирайте большой. Он сделает комнату визуально
            просторнее. Маленький же ковёр, напротив, зрительно уменьшит пространство, и комната может
            показаться
            тесной.
        </p>
        <h3>Как понять, что размер ковра подходит?</h3>
        <ul>
            <li>
                <p>
                    Вся мебельная группа умещается на нём хотя бы частично. Например, диван и кресла могут стоять
                    на
                    ковре полностью или только передними ножками.
                </p>
            </li>
            <li>
                <p>Ковёр в гостиной меньше периметра комнаты на 30-40 см. с каждой стороны. </p>
            </li>
            <li>
                <p>
                    В спальне ковёр выступает за границы кровати как минимум на 70 см. –тогда, вставая утром, вы
                    ощутите
                    под ногами мягкий, тёплый ворс, а не холодный пол.
                </p>
            </li>
        </ul>
        <p>
            Без сомнения, гостиной и столовой особенно нужен большой ковёр. Только представьте, как здорово будет
            собрать
            вечером семью или друзей, усесться на пушистый шегги и играть в настольные игры или смотреть кино. И
            всем
            хватит места! Кроме того, большой ковёр идеально соберёт мебель в ансамбль и подарит ощущение
            гармонии и
            общего настроения.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>2. Используйте орнамент</h2>
        <p>
            Не бойтесь экспериментировать с орнаментом ковра.
            Он как приправа, с которой «блюдо» – ваш интерьер – обретёт все грани вкуса. Конечно, однотонный или
            нейтральный ковёр «безопасен», ведь он не будет так притягивать внимание. Зато с орнаментом вы
            получите
            живое, привлекательное пространство, которое отразит вашу индивидуальность.
        </p>
        <p>Не знаете, какой орнамент выбрать? Уверены, что сочетать их в интерьере сложно?</p>
        <h3>Вот небольшая шпаргалка о том, какой узор подходит разным стилям:</h3>
        <ul>
            <li>
                <p>
                    <b>Цветочный</b> – классика, неоклассика, прованс, кантри, шебби-шик, эклектика. Мелкий
                    цветочный
                    узор создаст
                    ощущение насыщенности и роскоши. Крупный – свежести и простора.
                </p>
            </li>
            <li>
                <p>
                    <b>Дамаск</b> - классика, неоклассика, барокко, ампир, бохо, эклектика. Этот узор создаёт
                    атмосферу
                    изысканности, даже пышности. Когда его много, он может смотреться «душно», но если
                    использовать
                    дамасский узор по чуть-чуть, он придаст вашему дому необычайную элегантность.
                </p>
            </li>
            <li>
                <p>
                    <b>Геометрический</b> - ар-деко, классика, лофт, скандинавский стиль, минимализм, баухаус,
                    этника,
                    фьюжн. Геометрических орнаментов великое множество. Крупные делают атмосферу в помещении
                    свободной,
                    на них взгляд «отдыхает». Мелкие привносят сильную динамику и концентрируют внимание.
                </p>
            </li>
            <li>
                <p>
                    <b>Тропический</b> - эклектика, бохо, этника. Такой орнамент вносит экзотическую ноту и
                    придаёт
                    интерьеру энергичный колорит.
                </p>
            </li>
            <li>
                <p>
                    <b>Природный</b> - скандинавский стиль, неоклассика, средиземноморский, ар-деко, эклектика.
                    Имитация
                    текстур песка, камня, мрамора, природных ландшафтов сделает помещение свежим, наполнит его
                    естественностью и покоем.
                </p>
            </li>
            <li>
                <p>
                    <b>Абстрактный</b> - минимализм, скандинавский стиль, неоклассика, эклектика, баухаус.
                    Абстрактный
                    орнамент также может быть очень разным, но неизменно приносит чувство свободы, лёгкости и
                    воодушевления.
                </p>
            </li>
        </ul>
        <h3>А вот 4 лёгких правила, как сочетать узоры в интерьере:</h3>
        <ul>
            <li>
                <p>
                    Яркий рисунок лучше размещать на нейтральном фоне. Например, ковёр с орнаментом будет хорошо
                    смотреться на однотонном полу.
                </p>
            </li>
            <li>
                <p>
                    Пусть один орнамент доминирует, а другие – дополняют. Доминирующий орнамент обычно самый
                    крупный и
                    заметный, а остальные – более нейтральные и мелкие.
                </p>
            </li>
            <li>
                <p>
                    Во всех узорах нужен хотя бы один общий цвет. Тогда они будут гармонично смотреться рядом.
                </p>
            </li>
            <li>
                <p>Сочетайте в одной комнате не больше 4-х орнаментов. </p>
            </li>
        </ul>
        <p>
            Какой бы орнамент ковра вы ни выбрали, он сам подскажет решение для остального и позволит «выстроить»
            такой
            интерьер, какой вам хочется.
        </p>
    </div>
    <div class="col-md-auto">
        <img src="~/user/img/article2.jpeg" style="float: right;">
    </div>
</div>
<div class="row">
    <div class="col-md-auto">
        <img src="~/user/img/article3.png">
    </div>
    <div class="col">
        <h2>3. Определитесь с материалом</h2>
        <p>Сейчас ковры делают из десятков материалов – натуральных и синтетических.</p>
        <ul>
            <li>
                <p>
                    <b>Первые</b> неизменно роскошны и обладают всеми преимуществами природного происхождения:
                    естественностью, приятной фактурой и аутентичностью. Таковы овечья шерсть, шёлк и хлопок.
                </p>
            </li>
            <li>
                <p><b>Вторые</b> – практичны и гипоаллергенны. Например, акрил или полиэстер.</p>
            </li>
            <li>
                <p>
                    <b>А ещё есть материалы нового поколения,</b> которые соединяют красоту и тактильную нежность
                    природы
                    с прочностью. Они изготавливаются из натурального волокна с помощью химической и
                    механической
                    обработки. Это самые экологичные на сегодняшний день материалы, органически чистые и
                    безопасные. К
                    ним относятся модал, тенсел, эвкалиптовый и бамбуковый шёлк.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Почему важно уделить внимание материалу ковра?</h3>
        <p>
            Помимо нужных вам свойств он привнесёт в интерьер особую атмосферу. Каждый материал обладает своей
            энергетикой и тактильностью. Прикосновение к шерсти, вискозе или шёлку подарит вам соврешенно разные
            ощущения – и важно выбрать самое приятное.
        </p>
        <p>Кроме того, материал подчеркнёт фактуры мебели и пола.</p>
        <p>
            Кстати, если у вас красивый деревянный пол, не бойтесь «скрыть» его ковром. Фактура древесины от
            соседства с
            правильно подобранным ковром лишь выигрывает, наполняясь новыми красками и становясь ещё более
            благородной.
        </p>
        <p>
            При подборе ковра для интерьера наши декораторы всегда учитывают оттенок и фактуру пола, чтобы
            получившийся
            ансамбль выглядел совершенно. В итоге вы получите стильный интерьер и весь комфорт, который может
            подарить
            ковёр.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>4. Не оставляйте покупку ковра «на потом»</h2>

        <p>Если вы создаёте интерьер с нуля – начните с ковра.</p>
        <ul>
            <li>
                <p>
                    Это очень крупная и выразительная деталь, которая способна собрать воедино всю остальную
                    мебель и
                    декор.
                </p>
            </li>
            <li>
                <p>
                    Вы сможете отталкиваться от узора, цвета и фактуры вашего ковра, как от шпаргалки, при выборе
                    аксессуаров и мебели. Интерьер получится продуманным и гармоничным.
                </p>
            </li>
        </ul>
        <p>
            Найдите ковёр, дополните подходящим текстилем и декором, и формула идеального интерьера найдена!
            Поверьте,
            это будет легко.
        </p>
    </div>
    <div class="col-md-auto">
        <img src="~/user/img/article4.jpg" style="float: right;">
    </div>
</div>
<div class="row">
    <div class="col-md-auto">
        <img src="~/user/img/article5.jpg">
    </div>
    <div class="col">
        <h2>5. Помните, что ковёр – это не всегда дорого</h2>
        <p>
            У нас в каталоге вы найдёте ковры ручной и машинной работы под любой бюджет. Задавайте нужные вам
            параметры в
            фильтрах, чтобы получить подборку подходящих ковров!
        </p>
        <h3>Почему у нас действительно правильные цены?</h3>
        <p>
            Наша компания, которая существует уже больше 20 лет, покупает ковры непосредственно у ткачей, на
            мануфактурах. Вы платите только за сам ковёр, а не за долгую цепь посредников.
        </p>
        <p>
            Также мы регулярно устраиваем акции и делаем скидки. Благодаря этому, мы предлагаем ручные и машинные
            ковры
            высочайшего уровня по наиболее низкой цене. С нами вы сможете позволить себе ковёр мечты.
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/user/js/shared.js"></script>
}