<!--Active только для первого элемента карусели-->
<div class="carousel-item active">
    <img src="~/user/img/carpet2.jpg">
    <div class="carousel-caption">
        <div class="inner">
            <h1 style="color: #FFFFFF;">Как подобрать идеальный ковёр: 5 главных советов</h1>
            <hr>
            <a asp-controller="article" asp-action="index">Читать далее...</a>
        </div>
    </div>
</div>