<div class="col-auto store">
    <ul class="product">
        <li class="product-view"><img class="product-img" src="~/user/img/k1.jpg"></li>
        <li class="product-title"><label><a href="product.html">Billionare</a></label></li>
        <li class="product-price">
            <div class="price-tooltip">
                6 900 руб. - 65 890 руб.
                <table class="price-tooltoptext">
                    <tbody>
                        <tr>
                            <td>80 x 150</td>
                            <td>6 900 руб.</td>
                        </tr>
                        <tr>
                            <td>240 x 330</td>
                            <td>47 190 руб.</td>
                        </tr>
                        <tr>
                            <td>280 x 380</td>
                            <td>65 890 руб.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>