@{
    ViewBag.Title = "Корзина - Ковромир";
    ViewBag.FooterStyle = "fixed-bottom";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = ViewBag.cart;
}

@section Links {
    <link rel="stylesheet" type="text/css" href="~/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/user/css/index_style.css">
}
<br />
<h1>Ваша корзина пуста</h1>

@section Scripts {
    <script src="~/user/js/shared.js"></script>
    <script src="~/user/js/script_index.js"></script>
}